<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body class="prueba">
<header th:replace="/fragments/header :: header"></header>
  
</header>
<div class="prueba2">
    <div class="d-flex justify-content-end">
        <p class="display-3">PRESTAMOS</p>
    </div>
    <div class="m-4">
      <div class="row">
        <div class="col2">
        <a class="btn btn-outline-dark mb-2" th:href="@{/}">INICIO</a>
        <a class="btn btn-outline-dark mb-2" th:href="@{/prestamo/form}">CREAR PRESTAMO</a>
      </div>
    </div>
      <form class="d-flex buscador" th:action="@{/prestamo/list}" method="GET">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="query">
        <button class="btn btn-outline-info" type="submit">Buscar</button>
      </form>
      <br>

      <table class="table table-hover">
        <thead>
          <tr class="justify-content-center">
            <th scope="col">ID</th>
            <th scope="col">Libro</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha prestamo</th>
            <th scope="col">Fecha devolucion</th>
            <th scope="col">Multa</th>

            <th scope="col" class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="p : ${prestamos}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.libro.titulo}"></td>
            <td th:text="${p.cliente.documento} + ' ' + ${p.cliente.nombre} + ' ' + ${p.cliente.apellido}"></td>
            <td th:text="${p.fecha}"></td>
            <td th:text="${p.devolucion}"></td>
            <td th:text="${p.multa}"></td>

            <td class="d-flex justify-content-end ">
              <a type="button" class="btn btn-outline-primary m-1" th:href="@{/prestamo/renovar} + '?id=' + ${p.id}">Renovar Prestamo</a>
              <a type="button" class="btn btn-outline-success m-1" th:href="@{/prestamo/devolver} + '?id=' + ${p.id}" >Devolver Libro</a>
              <a type="button" class="btn btn-outline-danger m-1" th:href="@{/prestamo/delete} + '?id=' + ${p.id}" >Eliminar Prestamo</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>






    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</div>
</body>

</html>