@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-book:before { content: "\f100"; }
.flaticon-002-librarian:before { content: "\f101"; }
.flaticon-003-member-card:before { content: "\f102"; }
.flaticon-004-hand-over:before { content: "\f103"; }
.flaticon-005-reading:before { content: "\f104"; }
.flaticon-006-reading:before { content: "\f105"; }
.flaticon-007-library:before { content: "\f106"; }
.flaticon-008-open-book:before { content: "\f107"; }
.flaticon-009-searching:before { content: "\f108"; }
.flaticon-010-calendar:before { content: "\f109"; }
.flaticon-011-bookshelves:before { content: "\f10a"; }
.flaticon-012-shelves:before { content: "\f10b"; }
.flaticon-013-table:before { content: "\f10c"; }
.flaticon-014-download:before { content: "\f10d"; }
.flaticon-015-stairs:before { content: "\f10e"; }
.flaticon-016-bookmark:before { content: "\f10f"; }
.flaticon-017-business:before { content: "\f110"; }
.flaticon-018-nerd:before { content: "\f111"; }
.flaticon-019-romantic-novel:before { content: "\f112"; }
.flaticon-020-science:before { content: "\f113"; }
.flaticon-021-poetry:before { content: "\f114"; }
.flaticon-022-science-fiction:before { content: "\f115"; }
.flaticon-023-horror:before { content: "\f116"; }
.flaticon-024-geography:before { content: "\f117"; }
.flaticon-025-botany:before { content: "\f118"; }
.flaticon-026-maths:before { content: "\f119"; }
.flaticon-027-chemistry:before { content: "\f11a"; }
.flaticon-028-zoology:before { content: "\f11b"; }
.flaticon-029-art-book:before { content: "\f11c"; }
.flaticon-030-recipe-book:before { content: "\f11d"; }
.flaticon-031-library-of-congress:before { content: "\f11e"; }
.flaticon-032-bodleian-library:before { content: "\f11f"; }
.flaticon-033-library:before { content: "\f120"; }
.flaticon-034-library:before { content: "\f121"; }
.flaticon-035-abbey-library-of-saint-gall:before { content: "\f122"; }
.flaticon-036-bookcase:before { content: "\f123"; }
.flaticon-037-audiobook:before { content: "\f124"; }
.flaticon-038-eye-glasses:before { content: "\f125"; }
.flaticon-039-return:before { content: "\f126"; }
.flaticon-040-silence:before { content: "\f127"; }
.flaticon-041-reading:before { content: "\f128"; }
.flaticon-042-reading:before { content: "\f129"; }
.flaticon-043-archive:before { content: "\f12a"; }
.flaticon-044-book:before { content: "\f12b"; }
.flaticon-045-book:before { content: "\f12c"; }
.flaticon-046-book:before { content: "\f12d"; }
.flaticon-047-book-club:before { content: "\f12e"; }
.flaticon-048-online-library:before { content: "\f12f"; }
.flaticon-049-reading:before { content: "\f130"; }
.flaticon-050-conspectus:before { content: "\f131"; }

$font-Flaticon-001-book: "\f100";
$font-Flaticon-002-librarian: "\f101";
$font-Flaticon-003-member-card: "\f102";
$font-Flaticon-004-hand-over: "\f103";
$font-Flaticon-005-reading: "\f104";
$font-Flaticon-006-reading: "\f105";
$font-Flaticon-007-library: "\f106";
$font-Flaticon-008-open-book: "\f107";
$font-Flaticon-009-searching: "\f108";
$font-Flaticon-010-calendar: "\f109";
$font-Flaticon-011-bookshelves: "\f10a";
$font-Flaticon-012-shelves: "\f10b";
$font-Flaticon-013-table: "\f10c";
$font-Flaticon-014-download: "\f10d";
$font-Flaticon-015-stairs: "\f10e";
$font-Flaticon-016-bookmark: "\f10f";
$font-Flaticon-017-business: "\f110";
$font-Flaticon-018-nerd: "\f111";
$font-Flaticon-019-romantic-novel: "\f112";
$font-Flaticon-020-science: "\f113";
$font-Flaticon-021-poetry: "\f114";
$font-Flaticon-022-science-fiction: "\f115";
$font-Flaticon-023-horror: "\f116";
$font-Flaticon-024-geography: "\f117";
$font-Flaticon-025-botany: "\f118";
$font-Flaticon-026-maths: "\f119";
$font-Flaticon-027-chemistry: "\f11a";
$font-Flaticon-028-zoology: "\f11b";
$font-Flaticon-029-art-book: "\f11c";
$font-Flaticon-030-recipe-book: "\f11d";
$font-Flaticon-031-library-of-congress: "\f11e";
$font-Flaticon-032-bodleian-library: "\f11f";
$font-Flaticon-033-library: "\f120";
$font-Flaticon-034-library: "\f121";
$font-Flaticon-035-abbey-library-of-saint-gall: "\f122";
$font-Flaticon-036-bookcase: "\f123";
$font-Flaticon-037-audiobook: "\f124";
$font-Flaticon-038-eye-glasses: "\f125";
$font-Flaticon-039-return: "\f126";
$font-Flaticon-040-silence: "\f127";
$font-Flaticon-041-reading: "\f128";
$font-Flaticon-042-reading: "\f129";
$font-Flaticon-043-archive: "\f12a";
$font-Flaticon-044-book: "\f12b";
$font-Flaticon-045-book: "\f12c";
$font-Flaticon-046-book: "\f12d";
$font-Flaticon-047-book-club: "\f12e";
$font-Flaticon-048-online-library: "\f12f";
$font-Flaticon-049-reading: "\f130";
$font-Flaticon-050-conspectus: "\f131";